<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=localhost; Initial Catalog=CPCreate_WeatherStation;Integrated Security=True;User Id=sa;password=sa;"/>
    <add name="MYSQLConnectionString"   connectionString="User Id=root;Host=127.0.0.1;Database=CP_WS;password=root;"/>
  </connectionStrings>
  <appSettings>
    <add key="COM_NUMBER" value="COM1" />
    <add key="COM_BAUT" value="19200" />
    <add key="STATION_ID" value="100000002" />
    <add key="STATION_IPADDRESS" value="192.168.1.133" />
    <add key="STATION_IPORT" value="4001" />
    <add key="STATION_2_ID" value="100000003" />
    <add key="STATION_2_IPADDRESS" value="192.168.1.134" />
    <add key="STATION_2_IPORT" value="4001" />
    <add key="100000001" value="383.12" />
    <add key="100000002" value="344.66" />
    <add  key="Server_com"  value="8082" />
    <add key="MYSQLConnectionString" value="User Id=root;Host=127.0.0.1;Database=CP_WS;password=root;"/>
  </appSettings>

</configuration>
